<ion-view>
    <ion-content>
        <label class="item item-input">
            <input type="text" ng-model="data.nome" placeholder="Digite aqui"/>
        </label>
        
        <button class="button button-block 
        button-positive" ng-click="salvar()">Salvar</button>
        
        <button class="button button-block button-positive" 
        ui-sref="listar">Listar</button>
    </ion-content>
</ion-view>