<ion-view>
    <ion-header class="bar-stable">
        <h2 class="title">Listagem</h2>
    </ion-headerr>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="nome in nomes">{{nome}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>